@import "mocha.css";

* {
	border: none;
	border-radius: 10px;
	font-family: "JetBrains Mono";
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
	color: @mauve;
}

window#waybar {
	background: @base;
}

tooltip {
	background: @mantle;
}

tooltip label {
	color: @rosewater;
}

/* Workspace Buttons */
#workspaces button label{
	margin-top: 5px;
	color: @surface0;
	font-size: 20px;
}

#workspaces button.active label {
	color: @overlay1;
}

#battery {
	margin-bottom: 17px;
	font-size: 12px;
}

#battery.charging {
	color: @green;
}

#clock {
	margin-bottom: 10px;
	color: @mauve;
}

#custom-nmconnection {
	margin-bottom: 15px;
}

#pulseaudio {
	margin-bottom: 17px;
}

#tray {
	padding: 0 6px;
	margin-bottom: 17px;
}
