$black: #000;

* {
  all: unset;
}

.bar-component {
  background-color: rgba(0,0,0,0.9);
  border-radius: 9px;
  padding: 0px;
}

.workspace {
  padding: 0 10px;
}

.workspace-inactive {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
}

.workspace-active {
  box-shadow: inset 0 -3px #e90003;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
}
